.header {
    box-shadow: 0px 4px black 20%;
    background-color: #86ccfb;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;} 

.logoContainer {
    display: flex;

}
.logoContainer .headerText {
    color: white;
    margin: auto;
    justify-content: auto;
    padding-right: 8rem;
    align-items: center;
    font-size: 2rem;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.logoContainer .headerText:hover {
    color: plum;
    
}

.logoContainer .logo {
    padding-top:0.25rem;
    margin-left: 2rem;
    width: 75px;
    height: 75px;
}

