
.round-button-container {
    position: absolute;
    top: 6rem;
    left: 1rem
}

.round-button {
    display: inline-block;
    padding: 30px 40px;
    font-size: 16px;
    text-decoration: none;
    background-color: #6704b8; /* Blue color, you can customize */
    color: #fff; /* White color for text, you can customize */
    border: none;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for the back arrow icon */
  .round-button::before {
    content: '\2B05'; /* Unicode character for left arrow */
    font-size: 40px; /* Adjust the font size as needed */
    font-weight: 800;
    color: #fff; /* White color for the arrow, you can customize */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .round-button:hover {
    transform: scale(1.1);
}