.App {
  text-align: center;
}

.wrapper {
  padding: 20px;
}

.app {
  background-image: url('./Assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}